{{- if .Values.invenio.init }}
apiVersion: batch/v1
kind: Job
metadata:
  name: install-init
  labels:
    app: install-init
    module: install
  annotations:
    "helm.sh/hook": post-install
    "helm.sh/hook-weight": "1"
{{/*    "helm.sh/hook-delete-policy": hook-succeeded*/}}
{{- $files_location := "if [ -n \"${S3_BUCKET_NAME}\" ]; then invenio files location --default s3-default  s3://\"${S3_BUCKET_NAME}\"; else  invenio files location --default 'default-location'  $(invenio shell --no-term-title -c \"print(app.instance_path)\")'/data'; fi"}}
{{- $cmd := printf "invenio db init && invenio db create && invenio index check || (invenio index init && invenio index queue init purge) && %s  && (invenio roles create admin || true) && (invenio access allow superuser-access role admin || true)" $files_location -}}
{{- range $usr, $pass := .Values.invenio.default_users -}}
  {{- $cmd = printf "%s && invenio users create --active --password=%s %s" $cmd $pass $usr -}}
{{- end -}}
{{- if and .Values.invenio.demo_data .Values.invenio.default_users -}}
  {{- $cmd = cat $cmd "&& invenio rdm-records demo" -}}
{{- end -}}

spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      {{- if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- end}}
      containers:
      - name: install-init
        image: {{ required "Missing .Values.web.image" .Values.web.image }}
        command: [
          "/bin/bash",
          "-c",
          {{ $cmd | quote }}
        ]
        envFrom:
        - configMapRef:
            name: invenio-config
        {{- range .Values.invenio.extra_configmaps }}
        - configMapRef:
            name: {{ . }}
        {{- end }}
        env:
        - name: TZ
          value: {{ required "Missing .Values.global.timezone" .Values.global.timezone }}
        - name: INVENIO_BROKER_URL
          value: {{ include "invenio.rabbitmq.uri" . }}
        - name: INVENIO_CELERY_BROKER_URL
          value: {{ include "invenio.rabbitmq.uri" . }}
        - name: INVENIO_SQLALCHEMY_DATABASE_URI
          {{- if .Values.postgresqlExternal.sqlAlchemyDbUriFrom }}
          valueFrom:
            {{- .Values.postgresqlExternal.sqlAlchemyDbUriFrom | toYaml | nindent 12 }}
          {{- else }}
          value: {{ include "invenio.sqlAlchemyDbUri" . }}
          {{- end }}
        - name: INVENIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_SECRET_KEY
        - name: INVENIO_SECURITY_LOGIN_SALT
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_SECURITY_LOGIN_SALT
        - name: INVENIO_CSRF_SECRET_SALT
          valueFrom:
            secretKeyRef:
              name: invenio-secrets
              key: INVENIO_CSRF_SECRET_SALT
        {{- if .Values.web.resources }}
        resources: {{- toYaml .Values.web.resources | nindent 10 }}
        {{- end }}
      restartPolicy: OnFailure
      {{- if .Values.web.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.web.imagePullSecret }}
      {{- end }}
{{- end }}
