---
apiVersion: v1
kind: ConfigMap
metadata:
  name: uwsgi-config
data:
  uwsgi.ini: |
    [uwsgi]
    socket = 0.0.0.0:5000
    stats = 0.0.0.0:9000
    module = invenio_app.wsgi_ui:application
    master = true
    die-on-term = true
    single-interpreter = true
    buffer-size = 8192
    #wsgi-disable-file-wrapper = true

    vacuum = true
    enable-threads = true
    processes = {{ .Values.web.uwsgi.processes }}
    threads = {{ .Values.web.uwsgi.threads }}
    thunder-lock = true

    log-4xx = true
    log-5xx = true
    log-ioerror = true
    log-x-forwarded-for = true

    lazy = true
    lazy-apps = true
    single-interpreter = true
    need-app = true

    ignore-sigpipe = true
    ignore-write-errors = true
    disable-write-exception = true

    buffer-size = 65535
    socket-timeout = 120
    socket-write-timeout = 120
    so-write-timeout = 120
    so-send-timeout = 120
    socket-send-timeout = 120

    # Automatically respawn processes after serving
    max-requests = 1000
    max-requests-delta = 100

    # fix up signal handling
    die-on-term = true
    # hook-master-start = unix_signal:2 gracefully_kill_them_all
    # hook-master-start = unix_signal:15 gracefully_kill_them_all