---
apiVersion: v1
kind: ConfigMap
metadata:
  name: uwsgi-config
data:
  uwsgi.ini: |
    [uwsgi]
    socket = 0.0.0.0:5000
    stats = 0.0.0.0:9000
    module = invenio_app.wsgi_ui:application
    master = true
    die-on-term = true
    single-interpreter = true
    buffer-size = 8192
    wsgi-disable-file-wrapper = true

    vacuum = true
    enable-threads = true
    processes = {{ .Values.web.uwsgi.processes }}
    threads = {{ .Values.web.uwsgi.threads }}
    thunder-lock = true
